*{ 
margin: 0; 
padding: 0; 
}
body{
	background-image: url("../img/wall_light.jpg");
} 
.all{
	background-color: rgba(1000, 1000, 1000, 0.7);
	margin: auto; 
	padding: 5px; 
	width: 950px; 
	height: auto; 
	align-items: center;
	
}
.header{
/*	font-size: 20px;*/
	text-align: center;
	width: 950px;
	height: auto;
	margin-top: 10pt; 
}
.main{

}
.footer{
	margin-top: 5px;
	float: top;
	border-top: 1px solid gray;
	text-align: center;
	flex: 0 0 auto;
}

.pages{
	margin-top: 10px; 
	margin-left: 300px;
	margin-right: 300px; 
	padding: 5px;
	background:linear-gradient(to top left, #D4D9DC, #E6E2E2);
	border:solid 1px gray;
	
}
.fnews{
	text-align: center;
/*	border: solid gray 1px;*/

	
}
.bnews{
	border: solid gray 1px;
	margin-top: 10px;
	padding: 5px;
}
.date{
	/*border-top: solid 1px gray;*/
	border-bottom: solid 1px gray;
	text-align: left;
	font-size: 12px;
}
.theme{
	text-align: left;
}
.news{
	text-align: left;
}
ol li{
	margin-left: 30px;
	font-weight: 600;
}


.login{
	border: solid gray 1px; 
	padding: 5px;
	margin: 5px;
}
.field{
	margin: 5px;
}
.submit{
	margin: 5px;
}